body {
  margin: 0;
  padding: 0;
  background: #f4f5f5;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue,
    PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  height: auto;
  overflow-y: scroll;
}
// *::-webkit-scrollbar {
//   display: none;
// }
.content-center {
  max-width: 1280px !important;
  min-width: 375px !important;
  margin: 0 auto;
  height: 100%;
}
.flex {
  display: flex;
  &-nowrap {
    flex-wrap: nowrap;
  }
  &-wrap {
    flex-wrap: wrap;
  }
}
.a-center {
  align-items: center;
}
.jc {
  &-around {
    justify-content: space-around;
  }
  &-between {
    justify-content: space-between;
  }
  &-center {
    justify-content: center;
  }
}
.txt {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-justify {
    text-align: justify;
  }
  &-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-hidden-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.position {
  &-re {
    position: relative;
  }
  &-ab {
    position: absolute;
  }
}

.disc {
  &::before {
    content: "\25E6";
    color: red;
    font-size: 24rpx;
    margin-right: 10rpx;
  }
  &-filled::before {
    content: "\2022";
    color: red;
    font-size: 24rpx;
    margin-right: 10rpx;
  }
}
.border-down {
  border-bottom: 2rpx solid #f5f5f5;
}
/* for block of numbers */
pre {
  border: 1px solid #ededed;
}
.markdown-body /deep/ {
  img {
    max-width: 90%;
  }
}
pre > .hljs {
  border-left: 5px solid skyblue;
}
code {
  padding: 0 !important;
}
.hljs {
  // margin: 5px 0;
  padding: 0 !important;
}
blockquote {
  border: 1px solid #ededed;
  border-left: 5px solid #ededed;
  padding-left: 10px;
  margin-inline-start: 10px !important;
}
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  color: gray;
  vertical-align: top;
  padding: 4px !important;
  border-right: 1px solid #ededed;
  /* your custom style here */
}

.hljs-ln-code {
  padding: 0 5px !important;
}
table:not(.hljs-ln) {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  th {
    font-weight: 600;
  }
  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
  tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }
  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }
}
